<ion-header>
    <ion-toolbar color='secondary'>
        <img class="logo" src="assets/img/wired-brain-coffee-logo.png">
    </ion-toolbar>

    <ion-toolbar *ngIf='!loggedIn' color='secondary'>
        <button [navPush]='logPage' clear ion-button>Sign In</button>
    </ion-toolbar>

    <ion-toolbar *ngIf='loggedIn' color='secondary'>
        <button clear icon-left ion-button small>
          <ion-icon name='contact'></ion-icon>
          {{loggedIn}} Logged in
        </button>
        <button ion-button outline small (click)='signOff()'>Sign Out</button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor='let menu of menuData' no-padding>
        <ion-card (click)='myPagePush(menu.pushPage)'>
            <img [src]="menu.pic" alt="">
            <div class="card-title">{{menu.title}}</div>
        </ion-card>
    </ion-list>
</ion-content>

